<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Sharing Notification</title>
</head>
<body style="background-color: #333; color: antiquewhite; text-align: center;">
    <div style="width: 700px; margin: auto;">
        <h1>Project Sharing Notification</h1>
        <p>Feel free to reach out to us using the contact form below:</p>
        <a href="#" style="text-decoration: none; color: white; background-color: blue; border-radius: 50px;">Accept</a>
    </div>
</body>
</html>
